.depart-content .tbn-div label{
    margin-left: 0;
}
.left-label{
    margin: 0;
    width: 60px;
    text-align: center;
}
.m-t-10 {
    display: inline-block;
    width: 220px;
}
.depart-content .tbn-div{
    padding-bottom: 20px;
    height: auto;
}